# Test Result

1. The overall LF performance is worse than v0.1.
2. The LF performance of v0.21 is better than v0.2, according to the tuner test.
3. The HF circuit is almost unusable. This could be caused by the overlapped coils.
4. The capacity of tuning capacitor for the LF antenna is around 6.8nF.
